<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Video Paraphrase</title>
</head>
<body>
    <div class="container">
        <h1>Video Paraphrase</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="video/*" class="upload-input" id="videoInput">
            <button type="submit" class="upload-button">Ex Frames</button>
        </form>
    </div>

    <a href="Home.html" style="display: block; text-align: center; margin-top: 20px;">Go back to Home</a>
</body>
</html>
